<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h2>Cadastro</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Nome de usuário" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('login') }}">Já tenho uma conta. Fazer login.</a>
</body>
</html>
